# temporary editor files
*.swp

# compiled java bytecode files
*.class

# eclipse files
workspace/.metadata
workspace/*/*.classpath
workspace/*/*.project
workspace/*/*.settings
workspace/*/*bin

# temporary tex files
*.aux
*.log
*.out
*.toc

# tex output file
aufgaben/prg1_main.pdf
